@import '../../../src/ui/assets/fonts/stylesheet';
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: column;
}

@mixin gray-border {
  border: 2px solid #4A4A4A;
  border-radius: 10px;
}

@mixin text-bold {
  font-family: 'Gilroy', 'sans-serif';
  font-weight: 800;
}
@mixin text-light {
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
}
@mixin text-regular {
  font-family: 'Gilroy', 'sans-serif';
  font-weight: normal;
}
