@import '/src/ui/scss/variables';
@import '/src/ui/scss/mixins';

.default-input {
  @include text-regular;
  @include gray-border;
  background-color: $input-field-background;
  height: 3.125rem;
  margin-top: 1rem;
  color: $text-color--white;
  font-size: 1.2rem;
  width: 25.688rem;
  padding-left: 0.625rem;
  &:hover {
    border: 2px solid #656565;
  }
  &:focus {
    outline: none !important;
    border: 2px solid #23ADE9;
  }
}

.input-field-flex {
  @include flex-column;
  align-items: start;
  margin-top: 1.25rem;
}
.top-description {
  @include text-bold;
  font-size: $text-size--regular;
  color: $text-color--white;
}