@import "/src/ui/scss/variables";
@import "/src/ui/scss/mixins";

.card {
  @include flex-column;
  @include gray-border;
  width: 28.75rem;
  height: 34rem;
  justify-content: start;
  padding: 20px;
  align-items: center;
  background-color: $background-ui--primary;
}

.text-1 {
  @include text-light;
  font-size: $text-size--regular;
  padding: 0;
  margin-bottom: 15px;
}
.card-container {
  @include flex-column;
  width: 100%;
  height: fit-content;
  align-items: center;
}
.register {
  height: 34rem;
}
.login {
  height: 27.875rem;
}